* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.places {
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, .7);
    position: relative;
}

.videobg {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .videobg {
        width: 100%;
        height: auto;

    }
}

@media (max-aspect-ratio:16/9) {
    .videobg {
        width: auto;
        height: 100%;

    }
}
.places1 {
    border: #0ef 2px solid;
    position:relative;
    width:fit-content;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    font-size: 50px;
    top: 25px;
    margin: auto;
}

.images{
    display:flex;
    position: relative;
    gap: 70px;
    width: 200px;
    height: 200px;
    left: 130px;
    top: 50px;

}
.images1{
    display:flex;
    position: relative;
    gap: 70px;
    width: 200px;
    height: 200px;
    left: 130px;
    top: 0px;

}
.willy{
    position: relative;
    text-align: center;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    top: 60px;
    right:370px;
}
.white{
    position: relative;
    text-align: center;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    top: 20px;
}
.luho{
    position: relative;
    text-align: center;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    left:380px;
    bottom: 20px;
}
.bulabog{
    position: relative;
    text-align: center;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    top: 10px;
    right:370px;
}
.crystal{
    position: relative;
    text-align: center;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    bottom: 30px;
    left:10px;
}
.puka{
    position: relative;
    text-align: center;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    bottom: 70px;
    left:380px;
}
.btn {
    color: #0ef;
    background: black;
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    left: 1020px;
    bottom: 30px;
    box-shadow: 0 0 10px #0ef;
}
.des {
    color: #0ef;
    background: black;
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 0 10px #0ef;
}